<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
  <div>
   Start Date: {{startDate | date :'MMM dd yyyy'}}
  </div>
  <div>
    {{title | titlecase}}
  </div>

  <div>
    {{price| number:'9.3-5'}}
  </div>

  <div>
    {{price| currency:'EUR'}}
  </div>

  <div>
    Percentage:{{rate| percent}}
  </div>
</div>


<div *ngFor="let pair of course |keyvalue">
    {{pair.key + ':'+pair.value}}
</div>




<div class="courses">
    <div  *ngFor="let course of courses|slice:0:10 ;index as i">
      <course-card (courseSelected)="onCourseSelected($event)"
                   [course]="course"
                   [cardIndex]="i + 1"></course-card>
    </div>
</div>


